@import '../../../styles/main';

:host {
    background-color: $color-4;
    height: $navbar-height;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: $zindex-navbar;

    #brand {
        display: flex;
        align-items: center;
        cursor: pointer;

        #icon {
            width: 50px;
            height: 50px;
            background: url(/assets/images/diplomatiq-icon.svg) center / contain no-repeat;
            margin-right: 15px;
        }

        #name {
            color: $white;
            font-size: $navbar-brand-font-size;
        }
    }
}
