@import '../../../styles/main';

:host {
    position: fixed;
    z-index: $zindex-notification;
    top: 15px;
    margin: 0 15px;

    @include media-breakpoint-up(md) {
        left: 50%;
        transform: translateX(-50%);
    }
}
