@mixin full-page-component($from: 'xs', $to: 'xl') {
    @include media-breakpoint-between($from, $to) {
        :host {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
        }
    }
}
