.scroll-parent {
    @include media-breakpoint-up(md) {
        height: 100%;
        overflow: hidden;
    }
}

.scroll {
    @include media-breakpoint-up(md) {
        height: 100%;
        overflow: auto;
    }
}
