<div id="login">
    <h1>{{ heading }}</h1>
    <p class="text-muted">{{ subheading }}</p>
    <hr />
    <form (ngSubmit)="submit()">
        <div class="form-group">
            <label for="emailAddress">Email address</label>
            <input
                type="email"
                [(ngModel)]="emailAddress"
                name="emailAddress"
                class="form-control"
                id="emailAddress"
                aria-describedby="emailAddress"
                placeholder="Enter your email address"
            />
            <small *ngIf="signup" id="emailHelper" class="form-text text-muted"
                >We'll never share your email with anyone else.</small
            >
        </div>
        <div class="form-group" *ngIf="signup">
            <label>Name</label>
            <div class="form-row">
                <div class="col">
                    <input
                        type="text"
                        [(ngModel)]="firstName"
                        name="firstName"
                        class="form-control"
                        placeholder="Enter your first name"
                    />
                </div>
                <div class="col">
                    <input
                        type="text"
                        [(ngModel)]="lastName"
                        name="lastName"
                        class="form-control"
                        placeholder="Enter your last name"
                    />
                </div>
            </div>
            <small id="nameHelper" class="form-text text-muted">{{ nameHelper }}</small>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input
                type="password"
                [(ngModel)]="password"
                name="password"
                class="form-control"
                id="password"
                placeholder="Enter your password"
            />
            <small *ngIf="signup" id="passwordHelper" class="form-text text-muted"
                >Your password is protected by Scrypt and the SRP protocol. But you still have to
                <strong>choose a strong one!</strong></small
            >
        </div>

        <hr />

        <div *ngIf="!signup">
            <button type="submit" [disabled]="!validateForm()" class="btn btn-primary">Log in</button>
            <button class="btn btn-link" (click)="switchToSignUp()">Sign up</button>
        </div>
        <div *ngIf="signup">
            <button type="submit" [disabled]="!validateForm()" class="btn btn-primary">Sign up</button>
        </div>
    </form>
</div>
