$color-1: #4477bb;
$color-2: #c6d5f0;
$color-3: #88abd2;
$color-4: #22222c;
$color-5: #ffffff;
$color-6: #00aa3e;
$color-7: #f76500;
$color-8: #225dac;
$color-9: #6644bb;
$color-10: #dd1e44;

$theme-colors: (
    'primary': $color-9,
    'secondary': $color-4,
    'info': $color-3,
    'success': $color-6,
    'warning': $color-7,
    'danger': $color-10,
);

$body-color: $color-4;

$zindex-notification: 1100;

html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Helvetica Neue', sans-serif;
}

@import '../node_modules/bootstrap/scss/bootstrap';

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
