<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title">Enter the code you received in email to proceed</h5>
        <button type="button" (click)="cancel()" class="close" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <form (ngSubmit)="confirm()">
        <div class="modal-body">
            <div class="form-group">
                <label for="verificationCode">Verification code</label>
                <input
                    type="text"
                    class="form-control"
                    [(ngModel)]="verificationCode"
                    name="verificationCode"
                    id="verificationCode"
                    placeholder="Verification code"
                />
            </div>
        </div>
        <div class="modal-footer d-flex flex-row justify-content-between">
            <button type="button" (click)="resendVerificationCode()" class="btn btn-light">Resend code</button>
            <div>
                <button type="button" (click)="cancel()" class="btn btn-link">Cancel</button>
                <button type="submit" [disabled]="!validateForm()" class="btn btn-primary">Confirm</button>
            </div>
        </div>
    </form>
</div>
